<div class="heading mt-5">
  <div class="main-head">
    <h1>HODLINFO<span>.com</span></h1>
    <p>Powered By <span>Finstreet</span></p>
  </div>
  <!-- Example split danger button -->
  <div class="btn">
    <button type="button" class="btn btn-primary btn-sm">
      INR <i class="fas fa-sort-down"></i>
    </button>
    <button type="button" class="btn btn-secondary btn-sm">
      BTC <i class="fas fa-sort-down"></i>
    </button>
  </div>
  <div class="badge"><span>58</span></div>
  <a href="#" class="btn" id="telegaram-btn"><i class="fab fa-telegram-plane"></i> Connect Telegram </a>
  <!-- TOGGLER -->
  <!-- Rounded switch -->
  <label class="switch">
    <input type="checkbox" />
    <span class="slider round"></span>
  </label>
</div>
